
<!DOCTYPE html>
<html lang="en">
<head>
      
{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% load account %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Price scrapper</title>
</head>
<body>
    <header>
    </header>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

  
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
          <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>

        <input class="my-btn my-btn-class-31" style="font-size: 16px;" type="submit" value="{% trans 'Reset My Password' %}" />
       <h5 style="color: gray;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</h5>
     </form>


