{% load static %} {% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title>Price scrapper</title>
</head>
<body>
    <header>
    </header>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>



{% for m in messages %}

<p>{{m}}</p>

{% endfor %}
 

<form style="padding: 25px;" class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
 <h1>{% trans "Sign Up" %}</h1> 
 
 {% csrf_token %}
 <h4> {{ form.username.label }} </h4>
  {{ form.username }}
<h4>{{ form.email.label }}</h4>
{{ form.email }}
 <h4> {{ form.password1.label }}</h4>
  {{ form.password1 }}
  <h4> {{ form.password2.label }}</h4>
  {{ form.password2 }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <button class="my-btn my-btn-class-31" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

</body>
</html>
